<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page">CSE Motors</a>
    </span>
    <div id="tools">
      <!-- <a title="Click to log in" href="/account/login">My Account</a> -->
      <ul>
        <% if (messages.loggedin && messages.loggedin.length > 0) { %>
          <li>
            <div class="alert alert-success">
              <% messages.loggedin.forEach(function(msg) { %>
                <p><%= msg %></p>
              <% }); %>
            </div>
          </li>
          <li><a href="/account/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/account/login">Login</a></li>
        <% } %>
      </ul>
    </div>

    
    
</header>