<!DOCTYPE html>
<html lang="en">
   <%- include('./partials/head') %>
<body>
   
    <main>
        <div class="error-container">
            <h1>500 - Internal Server Error</h1>
            <p>Something went wrong on our end. Please try again later.</p>
            <p><a href="/">Return to the homepage</a></p>
        </div>
    </main>
      
</body>
</html>
