<div class="homepage">
    <section class="hero">
        <h2>Welcome to CSE Motors!</h2>
        <img src="images/vehicles/delorean.jpg" alt="DeLorean" title="DeLorean-Car" loading="lazy" />
        <div class="delorean-desc">
            <h3>DMC Delorean</h3>
            <p>3 Cup Holders</p>
            <p>Superman doors</p>
            <p>Fuzzy Dice</p>
            <a href="/purchase" class="btn">Own Today</a>
        </div>
    </section>

    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Mcfly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and love it!" (4/5)</li>
        </ul>
    </section>

    <section class="upgrade">
        <h2>Delorean Upgrades</h2>
        <div class="upgrade-grid">
            <div class="individual-up">
                <figure>
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor" title="Flux Capacitor" loading="lazy" />
                    <figcaption><a href="#">Flux Capacitor</a></figcaption>
                </figure>
            </div>
            <div class="individual-up">
                <figure>
                    <img src="images/upgrades/flame.jpg" alt="Flame Decals" title="Flame Decals" loading="lazy" />
                    <figcaption><a href="#">Flame Decals</a></figcaption>
                </figure>
            </div>
            <div class="individual-up">
                <figure>
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" title="Bumper Stickers" loading="lazy" />
                    <figcaption><a href="#">Bumper Stickers</a></figcaption>
                </figure>
            </div>
            <div class="individual-up">
                <figure>
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps" title="Hub Caps" loading="lazy" />
                    <figcaption><a href="#">Hub Caps</a></figcaption>
                </figure>
            </div>
        </div>
    </section>
</div>
