<!-- A content heading -->
<% if (title) { %>
    <h1><%= title %></h1>
    <%} else { %>
        <h1>Vehicle Listing</h1>
    <% } %>

<!-- A message -->
<%# messages()  %>

<!-- Inventory items displayed -->
<%- grid  %>

